body {
  background: #ffffff;
  color: black;
  width: 100%;
}

html{
  scroll-behavior: smooth;
}

button:focus {
  outline: none;
}

/* For links */
a:focus {
  outline: none;
}

.page-wrapper {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}